Repository MrSeaWave/vsc-code-docgen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, npm run lint:fix

docs: add templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Due: prettier -w

docs: update todo
  TODOLIST.md
Due: prettier -w

chore: add workflow
  .github/workflows/more-info.yaml
Due: none

chore: update
  .github/workflows/more-info.yaml
Due: none

feat: update git tag
  scripts/release/git.ts
Due: prettier -w, npm run lint:fix

Path conditions:
  prettier -w: (any of: *.{json,md}) or (any of: *.{js,ts})
  npm run lint:fix: any of: *.{js,ts}
